.social-list-team {
  display: flex;
  justify-content: center;

  & > .item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);

  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
  }
}

.social-link-team .icon {
  fill: currentColor;
}

.social-list-foot {
  display: flex;
}

.social-list-foot > .item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-background-color);

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}

.social-link-foot .icon {
  fill: currentColor;
}
